<div class="tweet-new">
<h3>お悩みを投稿する</h3>
<hr>
<%= form_for @tweet do |f| %>
  <div class="field pt-3">
    <%= f.label :本文 %><br>
    <%= f.text_area :body, :size => 40, :cols => 40, :rows => 8 %>
   </div>
   <br>
   <input type="submit" class="tweet-btn"  value="投稿する">
 <% end %>

 <hr>
 <%= link_to "ホームに戻る", tweets_path %>
 </div>

