<%= form_for(current_user.following_relationships.build(following_id: @user.id)) do |f| %>
    <div><%= f.hidden_field :following_id %></div>
    <input type="submit" class="follow-btn" value="フォローする">
  <% end %>