<div class="root">
</div>

<div class="root-first">
  <h3 class="root-text1">こんな方のために...</h3>
  <p class="root-text2">・娘との接し方がわからないお父さん</p>
  <p class="root-text2">・息子と喧嘩してしまうお母さん</p>
  <p class="root-text2">・悩みを話せる相手がいない学生さん</p>
</div>

<div class="photos">
  <img src="/assets/girl.jpg" width="350px" height="240px" alt="girl">
  <img src="/assets/father.jpg"  width="350px%" height="240px" alt="father">
  <img src="/assets/mother.jpg" width="350px" height="240px" alt="mother">
</div>  

<div class="root-second">
  <h3 class="root-text1">こんなことができます</h3>
  <p class="root-text2">・自分のお悩みを投稿する</p>
  <p class="root-text2">・他の人のお悩みを閲覧して回答する</p>
  <p class="root-text2">・気に入った人をフォローする</p>
  <p class="root-text2">・ダイレクトメッセージを送る</p>
</div>


<div class="root-third">
  <div class="root-login">
    <a class="root-btn" href="/tweets">ログインする</a>
  </div>
  <div class="root-signup">
    <a class="root-btn" href="/users/sign_up">新規登録する</a>
  </div>
</div>
