/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.header{
    margin: 0;
    background-color: #F5DEB3;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
header a {
    color: #5d261b;
}
.mitsukeru-img{
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #faf8f5;
    padding: 10px 10px 10px 30px;
}
.mitsukeru-sub{
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-left: 20px;
    font-size: 14px;
}
.nav-header{
    height: auto;
    padding: 2px 3px 2px 30px;
}
.btn-sm{
    margin-right: 30px;
}
.btn-group:hover{
    text-decoration: none;
    color: #ffffff
}


.body{
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-color: #faf8f5;
    color: #5d261b;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
body a{
    color: #3d241f;
}

.main{
    margin: auto;
    width: 80%;
}

.footer{
    background-color: #FFEBCD;
    height: 35px; 
}
.nav-footer{
    width: 70px;
}